## 함수

* 반복되는 부분이 있을 경우, ‘반복적으로 사용되는 가치 있는 부분’을 한 뭉치로 묶어 ‘어떤 입력값을 주었을 때 어떤 결괏값을 리턴해 준다’
* 함수의 형태는 입력값과 리턴값의 존재 유무에 따라 4가지 유형으로 나뉨

In [7]:
def add(a, b):
    return a + b

# 함수 이름은 add, 입력값 2개 받음(선언), 리턴(출력)값은 입력값 2개 더한 값

In [6]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [1]:
def add(a, b): #a,b는 매개변수(함수에 입력으로 전달된 값을 받음)
    return a + b

print(add(1, 2)) # 3, 4는 인수(함수 호출 시 전달하는 입력값)

3

### 일반적인 함수

* 입력값이 있고 리턴값이 있는
* 리턴값을_받을_변수 = 함수_이름(입력_인수1, 입력_인수2, ...)

In [20]:
def add(a, b):
    result = a + b
    return result

In [23]:
a = add(3, 4)

print(a)

7

In [1]:
def 함수():
    return 10

함수()

10

### 입력값이 없는 함수
* 사용방법: 리턴값을_받을_변수 = 함수_이름()

In [2]:
def say():
    return 'Hi'

In [3]:
a = say()
print(a)

Hi

### 리턴값이 없는 함수

* 리턴: 지역변수 > 전역변수로 값을 옮김 (변수에 할당 가능, 프린트 출력 가능)
* print 문은 함수의 구성 요소 중 하나인 ‘수행할_문장’에 해당하는 부분일 뿐
* 사용 방법: 함수_이름(입력_인수1, 입력_인수2, ...)

In [5]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [6]:
add(3, 4)

3, 4의 합은 7입니다.

In [8]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

### 입력값도, 리턴값도 없는 함수

* 사용방법: 함수_이름()

In [17]:
def say():
    print('Hi')

In [18]:
say()

Hi

### 매개변수를 지정하여 호출하기

* 순서에 상관없이 사용할 수 있다는 장점

In [10]:
def sub(a, b):
    return a - b

result = sub(a=7, b =3)
print(result)

4

In [11]:
def sub(a, b):
    return a - b

result = sub(b =5, a =3)
print(result)

-2

### 여러 개의 입력값을 받는 함수 만들기 *args
* 매개변수 이름 앞에 * 붙이면 입력값을 전부 모아 튜플로 만들어 줌

In [17]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i #args에 입력받은 모든 값을 더함
    return result

In [18]:
result = add_many(1, 2, 3)
print('함수 밖에서 실행', result)

함수 밖에서 실행 6

In [26]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [30]:
# 고정인수와 가변인수 혼합 단, 고정인수는 빈드시 먼저 나와야함

def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [31]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [32]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

### 키워드 매개변수 **kwargs

* 워드 매개변수를 사용할 때는 매개변수 앞에 별 2개(**)를 붙인다. 
* 딕셔너리로 저장

In [34]:
def print_kwargs(**kwargs):
    print(kwargs)

In [35]:
print_kwargs(a=1)

{'a': 1}

In [36]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

### 함수의 리턴값은 언제나 하나이다

In [22]:
def add_and_mul(a,b):
    return a+b, a*b

In [23]:
result = add_and_mul(3,4) #튜플값으로 리턴
result

(7, 12)

In [24]:
# 2개의 값으로 분리해서 받기
result1, result2 = add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [46]:
def add_and_mul(a,b): 
    return a+b 
    return a*b

In [48]:
result = add_and_mul(2, 3)
print(result)

# 함수는 리턴문을 만나는 순간 값을 반환하거 함수를 빠져나감

5

### return의 또 다른 쓰임새

* 특별한 상황일 때 함수를 빠져나가고 싶다면 return을 단독으로 써서 함수를 즉시 빠져나갈 수 있다

In [49]:
def say_nick(nick):
    if nick == '바보':
        return # 바보일 경우 return 종료해줘
    print("나의 별명은 %s 입니다." % nick)

In [50]:
say_nick('야호')

나의 별명은 야호 입니다.

In [52]:
say_nick('바보')

### 매개변수에 초깃값 미리 설정하기

* 고정변수는 맨 앞에, 디폴트 매개변수는 맨 뒤에!

In [55]:
def say_myself(name, age, man=True):
    print('나의 이름은 %s 입니다.' % name)
    print('나이는 %d 입니다.' % age)
    if man:
        print('남자입니다.')
    else:
        print('여자입니다.')

In [56]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27 입니다.
남자입니다.

In [57]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27 입니다.
남자입니다.

In [58]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27 입니다.
여자입니다.

In [60]:
def say_myself(name, man=True, age,): # 디폴트 매개변수는 맨 뒤에
    print('나의 이름은 %s 입니다.' % name)
    print('나이는 %d 입니다.' % age)
    if man:
        print('남자입니다.')
    else:
        print('여자입니다.')

SyntaxError: non-default argument follows default argument (2289007298.py, line 1)

### 함수 안에서 선언한 변수의 효력 범위

* 함수 안에서 선언한 매개변수는 함수 안에서만 사용될 뿐, 함수 밖에서는 사용되지 않는다

In [61]:
a = 1 #전역변수
def vartest(a): #a = 지역변수(함수 안에서만 사용)
    a = a +1

vartest(a)
print(a)

1

In [25]:
def vartest(aa):
    aa = a + 1

vartest(3)
print(aa)

# print(aa)에서 사용한 aa 변수는 어디에도 선언되지 않아 오류 발생

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

### 함수 안에서 함수 밖의 변수를 변경하는 방법

#### return 사용

In [27]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

#### global 명령어 사용
* 함수 밖의 변수를 직접 사용하겠다
*  global 명령어는 사용하지 않는 것이 좋다. 함수는 독립적으로 존재하는 것이 좋기 때문이다. 
* 외부 변수에 종속적인 함수는 그다지 좋은 함수가 아니다. 따라서 되도록 global 명령어를 사용하는 이 방법은 피하고 첫 번째 방법을 사용하기를 권한다.

In [66]:
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

#### lambda 표현식으로 익명 함수 만들기
* lambda = 1회성 함수
* 함수_이름 = lambda 매개변수1, 매개변수2, ... : 매개변수를_이용한_표현식
* 함수를 간편하게 작성할 수 있어 다른 함수의 인수로 넣을 때 주로 사용
* def를 사용할만큼 복잡하지 않거나 일회성(가공)등의 데이터 전처리를 할 때 많이 사용

In [28]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

# return 명령어가 없어도 표현식의 결괏값을 리턴

7

In [68]:
def add(a,b):
    return a+b

result = add(3,4)
print(result)

7

## 사용자 입출력

### 사용자 입력 활용하기
* 사용자가 입력한 값을 어떤 변수에 대입하고 싶을 때

#### input 사용하기
* 사용자가 키보드로 입력한 모든 것을 문자열로 저장

In [29]:
a  = input()

Life is too short, you need python

In [2]:
a

'Life is too short, you need python'

#### 프롬프트를 띄워 사용자 입력받기
* input()의 괄호 안에 안내 문구를 입력하여 프롬프트를 띄워서 안내 또는 질문
* input("안내문구")

In [6]:
number = input("숫자를 입력하세요: ")
print(number) # number는 문자열

숫자를 입력하세요: 3
3

In [ ]:
number = input("숫자를 입력하세요: ")
print(number) # number는 문자열

### print 자세히 알기

In [7]:
a = 123
print(a)

123

In [9]:
a = "python"
print(a)

python

In [10]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

#### 큰따옴표로 둘러싸인 문자열은 + 연산과 동일
* 따옴표로 둘러싸인 문자열을 연속해서 쓰면 + 연산을 한 것과 같음
* 붙여쓰기

In [11]:
print("life" "is" "too short")

lifeistoo short

In [12]:
print("life"+"is"+"too short")

lifeistoo short

#### 문자열 띄어쓰기는 쉼표로

In [14]:
print('life', 'is', 'too', 'short')

life is too short

#### 한 줄에 결괏값 출력
* 한 줄에 결괏값을 계속 이어서 출력하려면 매개변수 end를 사용해 끝 문자를 지정함
* end = ' ' -> 문자열 끝에 공백이 추가되어 출력결과가 같은 줄에 표시

In [17]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

## 파일 읽고 쓰기