## 파이썬 시작하기

In [5]:
# 화면에 Hello World 문자열을 출력하세요.

print('Hello world')

Hello world

In [6]:
# 화면에 Mary's cosmetics을 출력하세요.

print("Mary's cosmetics")

Mary's cosmetics

In [7]:
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
# 화면에 C:\Windows를 출력하세요.
# 파이썬은 /(슬래시)로도 경로 구분 가능

print('C:\Windows')

C:\Windows

In [13]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n 줄바꿈
# \t\t 탭!!!

안녕하세요.
만나서		반갑습니다.

In [15]:
print("오늘은", "일요일")

# 오늘은 일요일

오늘은 일요일

In [20]:
print('naver', 'kakao', 'sk', 'samsung', sep=";")

# sep="인자" - 공백 대신 인자 출력

naver;kakao;sk;samsung

In [61]:
# join 사용 가능 - 변수 선언 / 선언 안하는 경우엔 리스트로

";".join(['naver','kakao','sk','samsung'])

'naver;kakao;sk;samsung'

In [21]:
print('naver', 'kakao', 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [25]:
print("first", end=""); print("second")

# end="" - 여러 개의 명령어들을 줄바꿈 없이 출력

firstsecond

In [27]:
print(5/3)

1.6666666666666667

## 파이썬 변수

In [33]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000 #쉼표 넣으면 안됨
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [35]:
# 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [42]:
s = "hello"
t = "python"
print(s+"!", t) 

# 문자열 연산!!

hello! python

In [43]:
s = "hello"
t = "python"
print(s, end=""); print("!", t)

hello! python

In [47]:
a = "132"
type(a)

str

In [50]:
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

# 형변환 - 변환타입(값)

720 <class 'int'>

In [51]:
# 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [54]:
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

str = "15.79"
str = float(str)
print(str, type(str))

15.79 <class 'float'>

In [58]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다.
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year = int(year)
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [67]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
# 총 금액은 계산한 후 이를 화면에 출력해보세요.

월요금 = 48584
총금액 = 월요금 * 36
print(총금액)

1749024

## 파이썬 문자열

In [6]:
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0],letters[2])

p t

In [8]:
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [11]:
# '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"
print(string[0:6:2])

홀홀홀

In [16]:
# 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
print(string[::-1])

NOHTYP

In [21]:
# 전화번호에서 하이푼 ('-')을 제거하고 출력

phone_number = "010-1111-2222"
print(phone_number[0:3],phone_number[5:8],phone_number[10:13])

010 111 222

In [22]:
# 치환 매서드 Repalce("바꾸고 싶은 값", "바꿀 값")

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [23]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [36]:
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"
print(url[-2:])

kr

In [41]:
# 소문자 'a'를 대문자 'A'로 변경

string = 'abcdfe2a354a32a'
str = string.replace("a", "A")
print(str)

Abcdfe2A354A32A

In [43]:
# 화면에 '-'를 80개 출력하세요.

a = '-' * 80
print(a)

--------------------------------------------------------------------------------

In [48]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + " "

print (t3 * 4)

python java python java python java python java

In [52]:
# % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

# 문자열 데이터타입 %s, 정수형 데이터타입 %d

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [59]:
# 문자열의 format( ) 메서드를 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [56]:
# 문자열의 f-string 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [78]:
# 컴마를 제거한 후 이를 정수 타입으로 변환

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [84]:
# '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [86]:
# 문자열의 좌우의 공백이 있을 때 이를 제거

data = "   삼성전자    "
data.strip()

'삼성전자'

In [104]:
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
data.rstrip()

'039490'

In [88]:
# 대문자로 변경
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [90]:
# 소문자로 변경

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [93]:
# capitalize 함수 - 첫글자 대문자 변환 
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
a.capitalize()

'Hello'

In [96]:
# endswith 함수 - 문자열이 지정한 문자열로 끝나는지 체크 (T/F)
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [98]:
# startswith 함수 - 문자열이 지정한 문자열로 시작하지 체크 (T/F)
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [99]:
# split - 문자열에서 공백 기준으로 분리
# 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
a.split()

['hello', 'world']

In [100]:
# btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [101]:
# 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split('-')

['2020', '05', '01']

## 딕셔너리

In [4]:
# 별 표현식
# 10개의 값이 저장된 scores 리스트가 있을 때,
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [6]:
# start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [7]:
#  start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [13]:
# 비어있는 딕셔너리
# temp 이름의 빈 딕셔너리 만들기

temp = {}
print(temp)

{}

In [17]:
icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [20]:
# 딕셔너리 추가
icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
icecream['죠스바'] = 1200
icecream['월드콘'] = 1500
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [23]:
# 딕셔너리 추출

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나']

1000

In [26]:
# 딕셔너리 수정

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [29]:
# 딕셔너리 삭제

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [32]:
# 딕셔너리 생성

inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [34]:
# 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['메로나'][0]

300

In [35]:
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['메로나'][1]

20

In [37]:
# 딕셔너리 추가
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [40]:
# 딕셔너리 keys() 메서드
# key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [42]:
# 딕셔너리 values() 메서드
#  values 값으로만 구성된 리스트를 생성

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [48]:
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
print(ice)
sum(ice)

print(sum(icecream.values()))

[1200, 1200, 1800, 1500, 1000]
6700

In [49]:
# 딕셔너리 update 메서드
# new_product 딕셔너리를 다음 icecream 딕셔너리에 추가

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [50]:
# zip과 dict
# 두 개의 튜플을 하나의 딕셔너리로 변환하라.
# keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [54]:
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

## 파이썬 분기문

In [1]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

불 자료형(bool)

SyntaxError: invalid syntax (266652374.py, line 4)

In [3]:
# 102 아래 코드의 출력 결과를 예상하라

print(3 == 5) 
#false

False

In [4]:
# 103 아래 코드의 출력 결과를 예상하라

print(3 < 5)
#true

True

In [5]:
# 104 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)
#true

True

In [6]:
# 105 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))
# ture

True

In [9]:
# 106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)
# => 는 지원하지 않는 연산자 (>=, <= 로 사용)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (4002499379.py, line 3)

In [10]:
# 107 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")
# 조건을 만족하지 않아 아무것도 출력되지 않음

In [13]:
# 108 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# hi there

Hi, there.

In [15]:
# 109 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
# 1, 2, 4
# 들여쓰기로 if문 실행 구분

1
2
4

In [17]:
# 110 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
# 3, 5

3
5

In [21]:
# 111 사용자로부터 입력받은 문자열을 두 번 출력하라.
# 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

입력 = "안녕하세요"
print(입력*2)

안녕하세요안녕하세요

In [27]:
# 112 사용자로부터 하나의 숫자를 입력받고,
# 입력 받은 숫자에 10을 더해 출력하라.

num = 30
print(num + 10)

40

In [26]:
# 113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

num = 30
if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [78]:
# 114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라.
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

num = 257
result = num + 20
if result > 255:
    print(255)
else:
    print(result)

255

In [42]:
# 115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라.
# 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

input = 15
if input < 0:
    print(0)
elif input > 255:
    print(0)
else:
    print(num)

200

In [1]:
# 116

time = input("현재시간: ")
if time[-2:] == "00":
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 02:00
정각입니다.

In [1]:
### 117

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [2]:
# 118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: naver
투자 경고 종목이 아닙니다.

In [3]:
# 119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 여름
정답입니다.

In [4]:
# 120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?배
오답입니다.

In [8]:
# 121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

user = input("문자: ")
if user.islower() == True:
    print(user.upper())
else:
    print(user.lower())

문자: a
A

In [6]:
# 122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

score = input("점수: ")
score = int(score)
if score > 80:
    print("grade is A")
elif score > 60:
    print("grade is B")
elif score > 40:
    print("grade is C")
elif score > 20:
    print("grade is D")
else: 
    print("grade is E")

점수: 41
grade is C

In [ ]:
# 123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환
# 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력

환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}

user = input("입력: ")

******다시********

In [1]:
# 124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

user1 = input("input number1: ")
user2 = input("input number2: ")
user3 = input("input number3: ")
user1 = int(user1)
user2 = int(user2)
user3 = int(user3)

if user1 >= user2 and user1 >= user3:
    print(user1)
elif user2 >= user1 and user2 >= user3:
    print(user2)
else:
    print(user3)

input number1: 4
input number2: 5
input number3: 9
9

In [2]:
# 125 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 010
당신은 알수없음 사용자입니다.

In [1]:
# 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

우편번호 = input("우편번호: ")
우편번호 = 우편번호 [:3]

if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["013", "014", "015"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 010000
강북구