# 파이썬 시작하기 (001 - 010)

In [5]:
# 1

print('Hello world')

Hello world

In [6]:
# 2

print("Mary's cosmetics")

Mary's cosmetics

In [7]:
# 3

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
# 4
# 파이썬은 /(슬래시)로도 경로 구분 가능

print('C:\Windows')

C:\Windows

In [3]:
#5 

print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n 줄바꿈
# \t\t 탭!!!

안녕하세요.
만나서		반갑습니다.

In [15]:
#6 

print("오늘은", "일요일")

# 오늘은 일요일

오늘은 일요일

In [4]:
# 7 

print('naver', 'kakao', 'sk', 'samsung', sep=";")

# sep="인자" - 공백 대신 인자 출력

naver;kakao;sk;samsung

In [61]:
# join 사용 가능 - 변수 선언 / 선언 안하는 경우엔 리스트로

";".join(['naver','kakao','sk','samsung'])

'naver;kakao;sk;samsung'

In [21]:
print('naver', 'kakao', 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [25]:
print("first", end=""); print("second")

# end="" - 여러 개의 명령어들을 줄바꿈 없이 출력

firstsecond

In [27]:
print(5/3)

1.6666666666666667

# 파이썬 변수 (011-020)
* 자주 사용되는 값을 바인딩

In [33]:
# 11

삼성전자 = 50000 #쉼표 넣으면 안됨
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [35]:
# 12

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [42]:
# 13

s = "hello"
t = "python"
print(s+"!", t) 

# 문자열 연산!!

hello! python

In [12]:
# 14
# 2 + 2 * 3 = 8

In [13]:
#15 

a = "132"
type(a)

str

In [16]:
# 16
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

# 형변환 - 변환타입(값)

720 <class 'int'>

In [17]:
# 17
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [21]:
# 18
str = "15.79"
str_flo = float(str)
print(str_flo, type(str_flo))

15.79 <class 'float'>

In [23]:
# 19

year = "2020"
year = int(year)
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [24]:
# 20

월요금 = 48584
총금액 = 월요금 * 36
print(총금액)

1749024

# 파이썬 문자열 (021-050)

In [10]:
# 21
letters = 'python'
print(letters[0],letters[2])

p t

In [25]:
# 22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [26]:
# 23.

string = "홀짝홀짝홀짝"
print(string[0:6:2])

# 시작:끝:오프셋(건너뛸 자리수)

홀홀홀

In [27]:
# 24

string = "PYTHON"
print(string[::-1])

# 문자열 거꾸로 뒤집기: 인덱싱-오프셋 = -1

NOHTYP

In [30]:
# 25

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

# 치환 매서드 Repalce("바꾸고 싶은 값", "바꿀 값")

010 1111 2222

In [31]:
# 26

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [36]:
# 27

url = "http://sharebook.kr"
print(url[-2:])

kr

In [32]:
#28

lang = 'python'
lang[0] = 'p'
print(lang)
# 에러 발생 - 문자열은 수정 불가

TypeError: 'str' object does not support item assignment

In [36]:
# 29

string = 'abcdfe2a354a32a'
str = string.replace("a", "A")
print(str)

Abcdfe2A354A32A

In [37]:
# 30

string = 'abcd'
string.replace('b', 'B')
print(string)

# 문자열은 변경할 수 없기에 변경x
# replace매서드는 원본을 그대로 두고 변경된 새로운 객체를 리턴해줌
# 따라서 replace 값을 받을 객체 선언 필요

abcd

In [38]:
# 31

a = "3"
b = "4"
print(a + b)

# 34

34

In [40]:
# 32
print("Hi" * 3)
# HiHiHi

HiHiHi

In [33]:
# 33

a = '-' * 80
print(a)

--------------------------------------------------------------------------------

In [44]:
# 34

t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [52]:
# 35

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

# formatting 문자열 데이터타입 %s, 정수형 데이터타입 %d

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [59]:
# 36 문자열의 format( ) 메서드를 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [45]:
# 37 문자열의 f-string 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

# f."출력할 내용 {변수}"

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [78]:
# 38 컴마를 제거한 후 이를 정수 타입으로 변환

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [47]:
# '39

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [48]:
# 40

data = "   삼성전자    "
data.strip()

# strip 매서드 = 공백제거

'삼성전자'

In [49]:
# 41

ticker = "btc_krw"
ticker.upper()

# upper 매서드 = 대문자 변경

'BTC_KRW'

In [90]:
# 42 소문자로 변경 lower 매서드

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [50]:
# 43 capitalize 함수 - 첫글자 대문자 변환 

a = "hello"
a.capitalize()

'Hello'

In [53]:
# 44 endswith 함수 - 문자열이 지정한 문자열로 끝나는지 체크 (T/F)
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [56]:
# 45 endswith 함수 - 문자열이 지정한 문자열로 끝나는지 체크 (T/F)
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [98]:
# 46 startswith 함수 - 문자열이 지정한 문자열로 시작하지 체크 (T/F)
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [57]:
# 47 split - 문자열에서 공백 기준으로 분리
a = "hello world"
a.split()

['hello', 'world']

In [58]:
# 48 

ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [59]:
# 49

date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [61]:
# 50 rstrip 매서드 - 문자열 오른쪽 공백 제거

data = "039490     "
data.rstrip()

'039490'

# 파이썬 리스트 (051-070
* 순서가 있고 수정 가능한 자료구조

In [64]:
# 51

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [68]:
# 52 append 매서드 - 리스트 요소 추가

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('베트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [70]:
# 53 insert(인덱스, 원소) > 특정 위치에 값 끼워넣기

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [76]:
# 54

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [75]:
# 55

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[2]
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [78]:
# 56

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [81]:
# 57

nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [82]:
# 58

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [83]:
# 59

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [84]:
# 60

nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

In [85]:
# 61

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [86]:
# 62

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [87]:
# 63

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [88]:
# 64

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [90]:
# 65

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [93]:
# 66

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

# '구분자'.join(리스트) > 매개변수의 리스트값을 하나의 문자열로 반환

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [94]:
b

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [95]:
# 68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [98]:
# 69

string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [100]:
# 70 sort 매서드 - 오름차순 정렬

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 튜플 (61-70)
* 순서가 있지만 수정 불가능한 자료구조

In [102]:
#71 

my_variable = ()

In [104]:
#72

my_variable = ('닥터 스트레인지', '스플릿', '럭키')

In [108]:
# 73 하나의 데이터가 저장되는 경우, 쉼표를 입력해 튜플로

tuple = (1, )

In [110]:
# 74
t = (1, 2, 3)
t[0] = 'a'
# 튜플은 수정할 수 없어서 오류

TypeError: 'tuple' object does not support item assignment

In [112]:
# 75 - t는 튜플을 바인딩 (괄호없이 정의해도 욈)

t = 1, 2, 3, 4

tuple

In [116]:
# 76 튜플은 새로 업데이트 시 이전 값 자동 삭제됨

t = ('a', 'b', 'c')

t = ('A', 'B', 'C')
print(t)

('A', 'B', 'C')

In [121]:
# 77

interest = ('삼성전자', 'LG전자', 'SK Hynix')
result = list(interest)
print(result)

['삼성전자', 'LG전자', 'SK Hynix']

In [2]:
# 78

interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [128]:
# 79

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# apple banana cake

apple banana cake

In [1]:
# 80

a = tuple(range(2,100,2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 딕셔너리 (81-100)
* 파이썬 딕셔너리는 순서는 없지만 key와 value 형태로 데이터를 저장
* 특히 key는 데이터의 레이블(label)을 지정하는 용도로 자주 사용

In [3]:
# 81 star expression: 특정 데이터 개수만큼 데이터 언패킹

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [6]:
# 82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [7]:
# 83

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [13]:
# 84

temp = {}
print(temp)

{}

In [17]:
# 85 딕셔너리 = {'key': value}

icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [20]:
# 86 딕셔너리 추가 : 변수['key']: value

icecream = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
icecream['죠스바'] = 1200
icecream['월드콘'] = 1500
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [4]:
# 88 딕셔너리 수정

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [29]:
# 89 딕셔너리 삭제: del 변수['key']

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [3]:
# 90 딕셔너리에 누가바 key가 없어서 오류

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [32]:
# 91 딕셔너리 value값은 리스트도 가능

inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [34]:
# 92 딕셔너리 인덱싱

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['메로나'][0]

300

In [35]:
# 93

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['메로나'][1]

20

In [37]:
# 94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [40]:
# 95 딕셔너리 keys() 메서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [42]:
# 96 딕셔너리 values() 메서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [6]:
# 97

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())

print(sum(icecream.values()))

6700

In [49]:
# 98 딕셔너리 update 메서드

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [50]:
# 99 zip: 두개의 리스트를 하나로 묶어줌

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [54]:
# 100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문 (101-130)

In [10]:
# 101 파이썬에서 True 혹은 False를 갖는 데이터 타입은?
# bool 불 자료형

In [3]:
# 102 아래 코드의 출력 결과를 예상하라

print(3 == 5) 
#false

False

In [4]:
# 103 아래 코드의 출력 결과를 예상하라

print(3 < 5)
#true

True

In [5]:
# 104 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)
#true

True

In [6]:
# 105 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))
# ture

True

In [9]:
# 106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)
# => 는 지원하지 않는 연산자 (>=, <= 로 사용)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (4002499379.py, line 3)

In [10]:
# 107 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")
# 조건을 만족하지 않아 아무것도 출력되지 않음

In [13]:
# 108 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# hi there

Hi, there.

In [15]:
# 109 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
# 1, 2, 4
# 들여쓰기로 if문 실행 구분

1
2
4

In [17]:
# 110 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
# 3, 5

3
5

In [1]:
# 111 사용자로부터 입력받은 문자열을 두 번 출력하라.

a = input('입력: ')
print(a*2)

입력: 안녕하세요
안녕하세요안녕하세요

In [4]:
# 112 iuput 출력값은 항상 문자열

num = input('숫자를 입력하세요: ')
print(10 + int(num))

숫자를 입력하세요: 30
40

In [5]:
#113 

user = input('숫자입력: ')
if int(user)%2 == 0:
    print('짝수')
else:
    print('홀수')

숫자입력: 30
짝수

In [8]:
# 114

user = input('입력값: ')
num = 20 + int(user)
if num > 255:
    print(225)
else:
    print(num)

입력값: 240
225

In [14]:
# 115

user = input('입력값: ')
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 15
0

In [1]:
# 116

time = input("현재시간: ")
if time[-2:] == "00":
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 02:00
정각입니다.

In [1]:
# 117

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [2]:
# 118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: naver
투자 경고 종목이 아닙니다.

In [3]:
# 119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 여름
정답입니다.

In [4]:
# 120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?배
오답입니다.

In [8]:
# 121 islower(): 문자의 소문자 여부 판멸(소문자T/대문자F)

user = input("문자: ")
if user.islower() == True:
    print(user.upper())
else:
    print(user.lower())

문자: a
A

In [6]:
# 122  

score = input("점수: ")
score = int(score)
if score > 80:
    print("grade is A")
elif score > 60:
    print("grade is B")
elif score > 40:
    print("grade is C")
elif score > 20:
    print("grade is D")
else: 
    print("grade is E")

점수: 41
grade is C

In [3]:
# 123 

환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input("입력: ")
data = user.split() #숫자/통화명 분리 (split 값은 리스트)
금액, 통화 = data #데이터 언패킹 
print(금액, 통화)
금액 = float(금액)

if 통화 == '달러':
    print(금액 * 1167)
elif 통화 == '엔':
    print(금액 * 1.096)
elif 통화 == '유로':
    print(금액 * 1268)
else:
    print(금액 * 171)

입력: 100 달러
100 달러
116700.0

In [1]:
# 124 

user1 = input("input number1: ")
user2 = input("input number2: ")
user3 = input("input number3: ")
user1 = int(user1)
user2 = int(user2)
user3 = int(user3)

if user1 >= user2 and user1 >= user3:
    print(user1)
elif user2 >= user1 and user2 >= user3:
    print(user2)
else:
    print(user3)

input number1: 4
input number2: 5
input number3: 9
9

In [2]:
# 125 

number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 010
당신은 알수없음 사용자입니다.

In [1]:
# 126 

우편번호 = input("우편번호: ")
우편번호 = 우편번호 [:3]

if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["013", "014", "015"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 010000
강북구

In [10]:
# 127 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성
# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미

data = input("주민등록번호: ")
data = data.split("-")[1]

if data[0] == "1" or data[0] == "3":
    print("남자")
else:
    print('여자')

주민등록번호: 821010-1635210
남자

In [22]:
# 128 

주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]

if 0 <= int(주민번호[1:3]) <= 8:
    print('서울 입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 821010-1635210
서울이 아닙니다.

In [35]:
# 129 

num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [42]:
#130 

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc) # 딕셔너리

high = float(btc['max_price'])
low = float(btc['min_price'])

print(high, type(high))

{'opening_price': '50064000', 'closing_price': '50843000', 'min_price': '49965000', 'max_price': '51000000', 'units_traded': '3591.77570875', 'acc_trade_value': '181848253895.499', 'prev_closing_price': '50064000', 'units_traded_24H': '4681.26112803', 'acc_trade_value_24H': '236182681798.1032', 'fluctate_24H': '1191000', 'fluctate_rate_24H': '2.4', 'date': '1701246513572'}
51000000 <class 'str'>

# 파이썬 반복문 (131-200)
* for문의 핵심은 "들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다

## 131-140

In [ ]:
# 131 실행결과 예측

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과, 귤, 수박 각각 한 줄에 출력

In [ ]:
# 132

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
# ##### 가 3번 반복

In [6]:
#133

변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C

In [10]:
#134

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [13]:
# 135

변수 = "A"
print('변환:',변수.lower())
변수 = "B"
print('변환:',변수.lower())
변수 = "C"
print('변환:',변수.lower())

변환: a
변환: b
변환: c

In [16]:
# 136

for 변수 in ['10', '20', '30']:
    print(변수)

10
20
30

In [17]:
# 137

for i in ['10', '20', '30']:
    print(i)

10
20
30

In [22]:
# 138

for i in ['10', '20', '30']:
    print(i)
    print('--------')

10
--------
20
--------
30
--------

In [24]:
# 139

print('++++')
for i in ['10', '20', '30']:
    print(i)

++++
10
20
30

In [25]:
# 140

for i in ['a', 'b', 'c', 'd']:
    print('--------')

--------
--------
--------
--------

## 141-150

In [26]:
# 141

리스트 = [100, 200, 300]
for i in 리스트:
    print(i + 10)

110
210
310

In [27]:
# 142

리스트 = ["김밥", "라면", "튀김"]
for i in 리스트: 
    print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [28]:
# 143

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [31]:
# 144

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [32]:
# 145

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [33]:
# 146

리스트 = [1, 2, 3]
for i in 리스트:
    print('3 X', i)

3 X 1
3 X 2
3 X 3

In [34]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
    print('3 X', i, '=', 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [37]:
# 148

리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [40]:
# 149 리스트 슬라이싱 [시작:끝:증감폭] 

리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [41]:
# 150 리스트 슬라이싱 증감폭 -1 : 역순 출력
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [42]:
# 151

리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [43]:
# 152

리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [44]:
# 153

리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i % 3 ==0:
        print(i)

12
18

In [45]:
# 154

리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [48]:
# 155 isupper() 메서드 대문자 여부를 판별(T/F)

리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [50]:
# 156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == False:
        print(i)

b
c

In [54]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [57]:
# 158 
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    파일명 = i.split('.')
    print(파일명[0])

hello
ex01
intro

In [58]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    확장자 = i.split('.')
    if 확장자[1] == 'h':
        print(i)

intra.h
define.h

In [60]:
# 160

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    확장자 = i.split('.')
    if 확장자[1] == 'h' or 확장자[1] =='c':
        print(i)

intra.h
intra.c
define.h

## 161-170
* 숫자 리스트를 자동으로 만들어 주는 range 함수

In [62]:
# 161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [64]:
# 162 range(시작, 끝(+1), 증감폭)

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [66]:
# 163

for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [67]:
# 164

for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [68]:
# 165

for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [71]:
# 166

for i in range(1, 10):
    print(3, 'x', i, '=', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [77]:
# 167

for i in range(1, 10) :
    if i % 2 == 1 :
        print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [87]:
# 168
합계 = 0 
for i in range(1, 11):
    합계 = 합계 + i
print("합: ", 합계)

합:  55

In [88]:
# 169

합계 = 0
for i in range(1, 11):
    if i % 2 == 1:
        합계 += i
print("합: ", 합계)

합:  25

In [91]:
# 170

res = 1
for i in range(1, 11):
    res = res*i
print(res)

3628800

## 171-180

In [94]:
# 171

price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [100]:
# 172

price_list = [32100, 32150, 32000, 32500]
for i in range(0,4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [108]:
# 173

price_list = [32100, 32150, 32000, 32500]
for i in range(0, 4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [122]:
# 174

price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [129]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(0,3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [134]:
# 176

my_list = ["가", "나", "다", "라", "마"]
for i in range(0,3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [141]:
# 177

my_list = ["가", "나", "다", "라"]
for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [148]:
# 178

my_list = [100, 200, 400, 800]
for i in range(0,3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [161]:
# 179

my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(0,4):
    res = my_list[i] + my_list[i+1] + my_list[i+2]
    print(res/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [163]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

for i in range(5):
    변동폭 = high_prices[i]-low_prices[i]
    print(변동폭)

50
100
30
80
0

## 181-190

In [167]:
# 181

apart = [['101호', '102호'],['201호', '202호'], ['301호', '302호']]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [171]:
# 182

stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [175]:
# 183

stock = {'시가': [100, 200, 300], '종가': [80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [179]:
# 184

stock = {'10/10': [80, 110, 70, 90], '10/11':[210,230,190,200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [186]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for 호 in i:
        print(호, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [189]:
# 186

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for 호 in i:
        print(호, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [192]:
# 187

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for 호 in i[::-1]:
        print(호, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [193]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for 호 in i:
        print(호, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [195]:
# 189

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for 호 in i:
        print(호, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [196]:
# 190

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for 호 in i:
        print(호, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [200]:
# 191

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for price in i:
        print(price*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [201]:
# 192

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for price in i:
        print(price*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [208]:
# 193 append 매소드 - list에 새로운 요소 추가

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

res = [] # 빈 리스트 생성
for i in data:
    for price in i:
        res.append(price*1.00014)
print(res)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [209]:
# 194 

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

res = [] # 빈 리스트 생성1
for i in data:
    sub = [] #이차원 배열
    for price in i:
        sub.append(price*1.00014)
    res.append(sub)
print(res)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [215]:
# 195

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [217]:
# 196

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [218]:
# 197

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [220]:
# 198

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in ohlc[1:]:
    volatility.append(i[1] - i[2])
    
print(volatility)

[40, 30, 10]

In [221]:
# 199

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[3]-i[0])

10

In [229]:
# 200

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = []
for i in ohlc[1:]:
    profit.append(i[3] - i[0])
print(sum(profit))

0

# 파이썬 함수 (201 ~ 220)

In [3]:
# 201

def print_coin():
    print('비트코인')

In [4]:
# 202
print_coin()

비트코인

In [13]:
#203
for i in range(10):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [15]:
# 204
def print_coins():
    for i in range(10):
        print('비트코인')

In [17]:
# 205
hello()
def hello():
    print("Hi")
# 함수 정의 전에 호출되서

NameError: name 'hello' is not defined

In [19]:
# 206

def message() :
    print("A")
    print("B")

message()
print("C")
message()

# a > b > c > a > b

A
B
C
A
B

In [20]:
# 207

print("A")

def message() :
    print("B")

print("C")
message()

# A > C > B

A
C
B

In [21]:
# 208 

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

# a > C > b > e > d

A
C
B
E
D

In [23]:
# 209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# B > A

B
A

In [24]:
# 210

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

# B > C > B > C > B > C > A

B
C
B
C
B
C
A

In [26]:
# 211

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

# 안녕 / Hi

안녕
Hi

In [27]:
# 212

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

# 7 / 15

7
15

In [31]:
# 213

def 함수(문자열) :
    print(문자열)
함수()

#정의한 함수와 다르게 호출해서 오류 발생 (입력값 없음)

TypeError: 함수() missing 1 required positional argument: '문자열'

In [32]:
# 214

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

# 입력값 타입이 달라서 덧셈 불가

TypeError: can only concatenate str (not "int") to str

In [35]:
# 215

def print_with_smile(문자):
    print (문자 + ":D")

In [38]:
# 216

print_with_smile("안녕하세요")

안녕하세요:D

In [39]:
# 217 

def print_upper_price(a):
    return a * 1.3

a = 10000
print_upper_price(a)

# 상한가: 주가가 상승할 수 있는 가장 높은 가격
# 하루에 30%만 뛰라고 법으로 정해 놓음

13000.0

In [29]:
def print_upper_price(price) :
    print(price * 1.3)

price = 10000
print_upper_price(price)

13000.0

In [40]:
# 218

def print_sum(a, b):
    return a + b

print_sum(1, 2)

3

In [41]:
# 219 
def print_arithmetic_operation(a, b):
    return a + b, a - b, a * b, a / b

print_arithmetic_operation(3, 4)

(7, -1, 12, 0.75)

In [14]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a+b)
    print(a, "-", b, "=", a-b)
    print(a, "*", b, "=", a*b)
    print(a, "/", b, "=", a/b)

print_arithmetic_operation(3, 4)

# 특정 형식에 맞춰 출력할 때는 print를 쓰자

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [43]:
# 220 

def print_max(a, b, c):
    if a > b and a > c:
        print(a)
    elif b > c and b > a:
        print(b)
    else:
        print(c)

print_max(3, 2, 1)
print_max(2, 3, 1)
print_max(1, 2, 3)

3
3
3

In [45]:
# 221

def print_reverse(a):
    print(a[::-1])
    
print_reverse("python")

# 역순 = 슬라이싱 사용 [::-1]

nohtyp

In [48]:
# 222

def print_score (score):
    print(sum(score)/len(score))

print_score ([1, 2, 3])

2.0

In [52]:
# 223

def print_even(a):
    for i in a:
        if i % 2 == 0:
            print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [58]:
# 224

def print_keys(a):
    keys = a.keys()
    for k in keys:
        print(k)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [60]:
# 225

def print_value_by_key (my_dict, key):
    print(my_dict[key])

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [239]:
# 226

def print_5xn(data):
    line = len(data) / 5
    line = int(line)
    
    for i in range(line):
        print(data[5*i:5*i+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [243]:
# 227

def print_mxn(line, num):
    data = int(len(line) / num)
    for i in range(data + 1):
        print(line[i*num: i*num+num])
        
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [246]:
# 228

def calc_monthly_salary(pay):
    mpay = int(pay/12)
    return mpay

calc_monthly_salary(12000000)

1000000

In [ ]:
# 229

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

# 왼쪽: 100, 오른쪽: 200

In [ ]:
# 230

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
# 왼쪽: 200, 오른쪽: 100

In [ ]:
# 231

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

# 에러 발생. 함수 내부에서 사용한 변수는 밖에서 접근 불가
# 밖으로 전달하려면 return 사용

In [254]:
# 232

def make_url(mystr):
    return 'www.'+ mystr +'.com'

make_url("naver")

'www.naver.com'

In [257]:
# 233

def make_list(mystr):
    return list(mystr)

make_list("abcd")

['a', 'b', 'c', 'd']

In [268]:
# 234

def pickup_even(mylist):
    res = []
    for mylist in mylist:
        if mylist % 2 == 0:
            res.append(mylist)
    return res

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [271]:
# 235

def convert_int(mystr):
    return int(mystr.replace(',', ''))

convert_int("1,234,567")

1234567

In [ ]:
# 236

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
# 22

In [ ]:
# 237

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
# 22

In [ ]:
# 238

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
# 140

In [ ]:
# 239

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
# 16

In [ ]:
# 240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
# 28

# 파이썬 모듈 (241-250)

# 파이썬 클래스 (251-270)

In [ ]:
# 251
# 클래스 - 쿠키 틀
# 객체 - 쿠키

In [2]:
# 252

class Human:
    pass

In [3]:
# 253

class Human:
    pass

areum = Human()

In [8]:
# 254

class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

In [20]:
# 255-6

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name, areum.age, areum.sex)

아름 25 여자

In [23]:
# 257 

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
        
areum = Human("아름", 25, "여자")
areum.who()

이름: 아름 나이: 25 성별: 여자

In [35]:
# 257-258

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("불명", "미상", "모름")
areum.who()

areum.setInfo("아름", 25, "여자")
areum.who()

이름: 불명 나이: 미상 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [37]:
# 259

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __del__(self):
        print("나의 죽음을 알리지마라")
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("불명", "미상", "모름")
areum.who()

areum.setInfo("아름", 25, "여자")

나의 죽음을 알리지마라
이름: 불명 나이: 미상 성별: 모름

In [38]:
# 260 

class OMG:
    def print():
        print("Oh my god")

mystock = OMG()
mystock.print()

# 클래스 안에 인자가 없는데 인자를 넣어줘서 오류 발생 (self가 없어서)

TypeError: OMG.print() takes 0 positional arguments but 1 was given