## 파이썬 시작하기

In [5]:
# 화면에 Hello World 문자열을 출력하세요.

print('Hello world')

Hello world

In [6]:
# 화면에 Mary's cosmetics을 출력하세요.

print("Mary's cosmetics")

Mary's cosmetics

In [7]:
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
# 화면에 C:\Windows를 출력하세요.
# 파이썬은 /(슬래시)로도 경로 구분 가능

print('C:\Windows')

C:\Windows

In [13]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n 줄바꿈
# \t\t 탭!!!

안녕하세요.
만나서		반갑습니다.

In [15]:
print("오늘은", "일요일")

# 오늘은 일요일

오늘은 일요일

In [20]:
print('naver', 'kakao', 'sk', 'samsung', sep=";")

# sep="인자" - 공백 대신 인자 출력

naver;kakao;sk;samsung

In [61]:
# join 사용 가능 - 변수 선언 / 선언 안하는 경우엔 리스트로

";".join(['naver','kakao','sk','samsung'])

'naver;kakao;sk;samsung'

In [21]:
print('naver', 'kakao', 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [25]:
print("first", end=""); print("second")

# end="" - 여러 개의 명령어들을 줄바꿈 없이 출력

firstsecond

In [27]:
print(5/3)

1.6666666666666667

## 파이썬 변수

In [33]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000 #쉼표 넣으면 안됨
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [35]:
# 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [42]:
s = "hello"
t = "python"
print(s+"!", t) 

# 문자열 연산!!

hello! python

In [43]:
s = "hello"
t = "python"
print(s, end=""); print("!", t)

hello! python

In [47]:
a = "132"
type(a)

str

In [50]:
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

# 형변환 - 변환타입(값)

720 <class 'int'>

In [51]:
# 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [54]:
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

str = "15.79"
str = float(str)
print(str, type(str))

15.79 <class 'float'>

In [58]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다.
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year = int(year)
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [67]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
# 총 금액은 계산한 후 이를 화면에 출력해보세요.

월요금 = 48584
총금액 = 월요금 * 36
print(총금액)

1749024

## 파이썬 문자열

In [6]:
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0],letters[2])

p t

In [8]:
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [11]:
# '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"
print(string[0:6:2])

홀홀홀

In [16]:
# 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
print(string[::-1])

NOHTYP

In [21]:
# 전화번호에서 하이푼 ('-')을 제거하고 출력

phone_number = "010-1111-2222"
print(phone_number[0:3],phone_number[5:8],phone_number[10:13])

010 111 222

In [22]:
# 치환 매서드 Repalce("바꾸고 싶은 값", "바꿀 값")

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [23]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [36]:
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"
print(url[-2:])

kr

In [41]:
# 소문자 'a'를 대문자 'A'로 변경

string = 'abcdfe2a354a32a'
str = string.replace("a", "A")
print(str)

Abcdfe2A354A32A

In [43]:
# 화면에 '-'를 80개 출력하세요.

a = '-' * 80
print(a)

--------------------------------------------------------------------------------

In [48]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + " "

print (t3 * 4)

python java python java python java python java

In [52]:
# % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

# 문자열 데이터타입 %s, 정수형 데이터타입 %d

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [59]:
# 문자열의 format( ) 메서드를 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [56]:
# 문자열의 f-string 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [78]:
# 컴마를 제거한 후 이를 정수 타입으로 변환

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [84]:
# '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [86]:
# 문자열의 좌우의 공백이 있을 때 이를 제거

data = "   삼성전자    "
data.strip()

'삼성전자'

In [104]:
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
data.rstrip()

'039490'

In [88]:
# 대문자로 변경
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [90]:
# 소문자로 변경

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [93]:
# capitalize 함수 - 첫글자 대문자 변환 
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
a.capitalize()

'Hello'

In [96]:
# endswith 함수 - 문자열이 지정한 문자열로 끝나는지 체크 (T/F)
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [98]:
# startswith 함수 - 문자열이 지정한 문자열로 시작하지 체크 (T/F)
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [99]:
# split - 문자열에서 공백 기준으로 분리
# 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
a.split()

['hello', 'world']

In [100]:
# btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [101]:
# 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split('-')

['2020', '05', '01']