### 12/21 스터디

In [6]:
import numpy as np
import pandas as pd

In [30]:
# 데이터프레임 클래스

data = {
    '이름': ['권은경', '나혜미', '백예숙', '백지영', '이상아', '김다혜', '마준영', '문예성', '박슬기', '이준민'],
    '국어': np.random.randint(1, 101, 10),
    '영어': np.random.randint(1, 101, 10),
    '수학': np.random.randint(1, 101, 10)
}
columns = ['이름', '국어', '영어', '수학']
df = pd.DataFrame(data, columns = columns)

df.index.name = '번호'
df['과학'] = np.random.randint(1, 101, 10) # 열추가
df.loc[10] = ['피승권', 12, 31, 14, 53] # 행추가 loc활용

# 필터걸기
df[(df['국어']>=50) | (df['영어']>=70)] #or 조건 (and &)

     이름  국어  영어  수학  과학
번호
0   권은경  71  60  36  61
1   나혜미   6  96  41  61
2   백예숙  81  44  18  27
3   백지영  16  70  92  90
5   김다혜  42  85  24  88
7   문예성  55  40  49  59
8   박슬기  25  72  71  74

In [8]:
test = [np.random.randint(1, 101, 10)]
test

[array([26,  8, 90, 91, 82, 84, 83, 96, 91, 25])]

In [ ]:
df.to_csv('수강생점수.csv')

In [ ]:
pd.read_csv('./수강생점수.csv') #상대경로 활용

In [ ]:
pd.read_csv('파일경로.수강생점수.csv')

In [35]:
data = {
    '이름': ['권은경', '나혜미', '백예숙', '백지영', '이상아', '김다혜', '마준영', '문예성', '박슬기', '이준민'],
    '국어': np.random.randint(1, 101, 10),
    '영어': np.random.randint(1, 101, 10),
    '수학': np.random.randint(1, 101, 10)
}
columns = ['이름', '국어', '영어', '수학']
df = pd.DataFrame(data, columns = columns)

df.index.name = '번호'
df['과학'] = np.random.randint(1, 101, 10) # 열추가
df.loc[10] = ['피승권', 12, 31, 14, 53] # 행추가 loc활용
df.loc[11] = ['문석민', 100, 100, 100, np.nan]

df.count() # 열 데이터가 몇개 있는지 보여줌 (nan 제외)

이름    12
국어    12
영어    12
수학    12
과학    11
dtype: int64

In [ ]:
df.count() # 열 데이터가 몇개 있는지 보여줌

In [44]:
data = {
    '이름': ['권은경', '나혜미', '백예숙', '백지영', '이상아', '김다혜', '마준영', '문예성', '박슬기', '이준민'],
    '국어': np.random.randint(1, 101, 10),
    '영어': np.random.randint(1, 101, 10),
    '수학': np.random.randint(1, 101, 10)
}
columns = ['이름', '국어', '영어', '수학']
df = pd.DataFrame(data, columns = columns)

df.index.name = '번호'
df['과학'] = np.random.randint(1, 101, 10) # 열추가
df.loc[10] = ['피승권', 12, 31, 14, 53] # 행추가 loc활용
df.loc[11] = ['문석민', 100, 100, 100, np.nan]

df.apply(lambda x: print(x), axis=0) #행방향으로 반복(기본값)

번호
0     권은경
1     나혜미
2     백예숙
3     백지영
4     이상아
5     김다혜
6     마준영
7     문예성
8     박슬기
9     이준민
10    피승권
11    문석민
Name: 이름, dtype: object
번호
0      42
1      50
2      20
3      43
4      96
5      32
6       6
7       6
8      75
9      20
10     12
11    100
Name: 국어, dtype: int64
번호
0      40
1      75
2      33
3       2
4      83
5      90
6      47
7      10
8      96
9      47
10     31
11    100
Name: 영어, dtype: int64
번호
0      97
1      88
2      54
3      79
4      58
5      91
6      43
7      83
8      16
9      42
10     14
11    100
Name: 수학, dtype: int64
번호
0     24.0
1     81.0
2     83.0
3     98.0
4     87.0
5     39.0
6     17.0
7     76.0
8      8.0
9     38.0
10    53.0
11     NaN
Name: 과학, dtype: float64

이름    None
국어    None
영어    None
수학    None
과학    None
dtype: object

In [45]:
df.apply(lambda x: print(x), axis=1) #열방향으로 반복

이름     권은경
국어      42
영어      40
수학      97
과학    24.0
Name: 0, dtype: object
이름     나혜미
국어      50
영어      75
수학      88
과학    81.0
Name: 1, dtype: object
이름     백예숙
국어      20
영어      33
수학      54
과학    83.0
Name: 2, dtype: object
이름     백지영
국어      43
영어       2
수학      79
과학    98.0
Name: 3, dtype: object
이름     이상아
국어      96
영어      83
수학      58
과학    87.0
Name: 4, dtype: object
이름     김다혜
국어      32
영어      90
수학      91
과학    39.0
Name: 5, dtype: object
이름     마준영
국어       6
영어      47
수학      43
과학    17.0
Name: 6, dtype: object
이름     문예성
국어       6
영어      10
수학      83
과학    76.0
Name: 7, dtype: object
이름    박슬기
국어     75
영어     96
수학     16
과학    8.0
Name: 8, dtype: object
이름     이준민
국어      20
영어      47
수학      42
과학    38.0
Name: 9, dtype: object
이름     피승권
국어      12
영어      31
수학      14
과학    53.0
Name: 10, dtype: object
이름    문석민
국어    100
영어    100
수학    100
과학    NaN
Name: 11, dtype: object

번호
0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
dtype: object

In [52]:
df['수학'] = df.apply(lambda x: x.수학/2, axis = 1)
df

     이름   국어   영어      수학    과학
번호
0   권은경   42   40  12.125  24.0
1   나혜미   50   75  11.000  81.0
2   백예숙   20   33   6.750  83.0
3   백지영   43    2   9.875  98.0
4   이상아   96   83   7.250  87.0
5   김다혜   32   90  11.375  39.0
6   마준영    6   47   5.375  17.0
7   문예성    6   10  10.375  76.0
8   박슬기   75   96   2.000   8.0
9   이준민   20   47   5.250  38.0
10  피승권   12   31   1.750  53.0
11  문석민  100  100  12.500   NaN